<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyDz4wfgVQ23o5OVXHYnYazZiR7kNcyIcjo",
    authDomain: "github-page-3f77c.firebaseapp.com",
    projectId: "github-page-3f77c",
    storageBucket: "github-page-3f77c.appspot.com",
    messagingSenderId: "305044408401",
    appId: "1:305044408401:web:c369fa0d11a33a73a3d070",
    measurementId: "G-KHPWTNHWRL"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>